In [2]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [3]:
#Must alter your postgres password

connection_string = "postgres://postgres:Iceland33!@localhost:5432/prescribers"

In [4]:
engine = create_engine(connection_string)

In [5]:
cbsa2 = pd.read_csv('data/ZIP_CBSA_122020.csv')

In [6]:
db = sqlite3.connect('data/cbsa_fun.sqlite')

In [17]:
#Uncomment to run the below line, only needs to be run once

cbsa2.to_sql('cbsa_sql', db)

#Or run the below line to drop and recreate each recreate

#db.execute('DROP TABLE cbsa_sql')

#db.execute('DROP TABLE prescriber')

In [15]:
df = pd.read_sql('''
SELECT *
FROM prescriber;
''', engine)

In [18]:
#Only needs to be run once

df.to_sql(name = 'prescriber', con = db, index = False)

In [19]:
#CTE ranks zip codes by their total land area within a CBSA
#Query joins the nppes providers based on zip code (left join) only where
#The zip code rank is 1 (greatest area in that zip) and the CBSA for Nash

query = ''' WITH ratio AS (
SELECT ZIP, CBSA, 
RANK() OVER(PARTITION BY ZIP ORDER BY TOT_RATIO DESC) AS rnk 
FROM cbsa_sql)

SELECT *
FROM prescriber
LEFT JOIN ratio
ON prescriber.nppes_provider_zip5 = ratio.zip
WHERE ratio.rnk = 1 AND ratio.CBSA = '34980';
'''

cbsa_filter = pd.read_sql(query, db)

In [20]:
#Dropped columns, more could be added later as we see which are not useful

cbsa_filter = cbsa_filter.drop(columns = ['nppes_provider_zip4', 
                                          'nppes_provider_state', 
                                          'nppes_provider_country', 
                                          'ZIP',
                                          'CBSA', 
                                          'rnk'])

In [21]:
cbsa_filter['npi'] = cbsa_filter['npi'].astype(int)

In [22]:
cbsa_filter

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,Nurse Practitioner,S,N
1,1003013947,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,Orthopedic Surgery,S,E
2,1003077728,KAISER,CLAYTON,A,M.D.,M,I,1215 21ST AVE S,None,NASHVILLE,37232,Cardiac Surgery,S,E
3,1003019902,ACOSTA,LEALANI,M,MD,F,I,3601 TVC,None,NASHVILLE,37232,Neurology,S,E
4,1003031261,RUBRIGHT,JAMES,H,M.D.,M,I,345 23RD AVE N,SUITE 212,NASHVILLE,37203,Hand Surgery,S,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7966,1992952998,ZAFAR,ADNAN,None,M.D.,M,I,1005 DR. D.B. TODD JR. BLVD.,None,"NASHVILLE, TENNESSEE",37208,Psychiatry & Neurology,T,E
7967,1992956114,PERRY,AMANDA,B,PA-C,F,I,1124 NEW HIGHWAY 52 E,None,WESTMORELAND,37186,Physician Assistant,S,E
7968,1992961841,ANGLUM,ABIGAIL,L,APN,F,I,3801 HILLSBORO RD,None,NASHVILLE,37215,Nurse Practitioner,S,E
7969,1992978845,CHILDS,ADAM,M,M.D.,M,I,2933 MEDICAL CENTER PKWY,SUITE A,MURFREESBORO,37129,Family Practice,S,E
7970,1992985949,BECK,ROBERT,L,M.D,M,I,2400 PATTERSON ST,SUITE 400,NASHVILLE,37203,Internal Medicine,S,E

In [23]:
#To close the connection

#db.close()

In [ ]:
#For exporting to csv in case 

#cbsa_filter.to_csv(r'data/cbsa_filter.csv', index = True)