In [88]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

#pd.set_option('display.float_format', lambda x: '%.6f' % x)

In [72]:
#cbsa = pd.read_csv('data/ZIP_CBSA_122020.csv')

In [73]:
connection_string = "postgres://postgres:Iceland33!@localhost:5432/prescribers"

In [74]:
engine = create_engine(connection_string)

In [75]:
query = '''
WITH ratio AS (
	 		  SELECT zip, cbsa,
			  RANK() OVER(PARTITION BY zip ORDER BY tot_ratio DESC) AS rnk
			  FROM cbsa2
			  )
SELECT *
FROM prescriber
LEFT JOIN ratio
ON prescriber.nppes_provider_zip5 = ratio.zip
WHERE ratio.rnk = 1 AND ratio.cbsa = '34980';
'''

result = engine.execute(query)

In [76]:
cbsa = pd.read_sql(query, con = engine)
cbsa.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,zip,cbsa,rnk
0,1003000282.000000,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N,37243,34980,1
1,1003013947.000000,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E,37203,34980,1
2,1003077728.000000,KAISER,CLAYTON,A,M.D.,M,I,1215 21ST AVE S,None,NASHVILLE,37232,0014,TN,US,Cardiac Surgery,S,E,37232,34980,1
3,1003019902.000000,ACOSTA,LEALANI,M,MD,F,I,3601 TVC,None,NASHVILLE,37232,0001,TN,US,Neurology,S,E,37232,34980,1
4,1003031261.000000,RUBRIGHT,JAMES,H,M.D.,M,I,345 23RD AVE N,SUITE 212,NASHVILLE,37203,1513,TN,US,Hand Surgery,S,E,37203,34980,1

In [67]:
cbsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7971 entries, 0 to 7970
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   npi                           7971 non-null   float64
 1   nppes_provider_last_org_name  7970 non-null   object
 2   nppes_provider_first_name     7971 non-null   object
 3   nppes_provider_mi             5835 non-null   object
 4   nppes_credentials             7505 non-null   object
 5   nppes_provider_gender         7971 non-null   object
 6   nppes_entity_code             7971 non-null   object
 7   nppes_provider_street1        7971 non-null   object
 8   nppes_provider_street2        3404 non-null   object
 9   nppes_provider_city           7971 non-null   object
 10  nppes_provider_zip5           7971 non-null   object
 11  nppes_provider_zip4           6921 non-null   object
 12  nppes_provider_state          7971 non-null   object
 13  nppes_provider_country        7971 non-null   object
 14  specialty_description         7971 non-null   object
 15  description_flag              7971 non-null   object
 16  medicare_prvdr_enroll_status  7971 non-null   object
 17  zip                           7971 non-null   object
 18  cbsa                          7971 non-null   object
 19  rnk                           7971 non-null   int64
dtypes: float64(1), int64(1), object(18)
memory usage: 1.2+ MB

In [68]:
#cbsa[['zip', 'cbsa']] = cbsa[['zip', 'cbsa']].astype(int)

#cbsa['zip'] = cbsa['zip'].astype(str)

#cbsa['zip'] = cbsa['zip'].str.zfill(5)

In [77]:
cbsa = cbsa.drop(columns = ['nppes_provider_zip4', 
                            'nppes_provider_state', 
                            'nppes_provider_country', 
                            'zip',
                            'cbsa', 
                            'rnk'])

In [80]:
cbsa['npi'] = cbsa['npi'].astype(int)

In [ ]:
cbsa.to_csv(r'data/cbsa.csv', index = True)

In [133]:
cbsa2 = pd.read_csv('data/ZIP_CBSA_122020.csv')

In [134]:
db = sqlite3.connect('data/cbsa_fun.sqlite')

In [135]:
cbsa2.to_sql('cbsa_sql', db)

In [136]:
from sqlalchemy import create_engine

connection_string = "postgres://postgres:Iceland33!@localhost:5432/prescribers"
engine = create_engine(connection_string)

In [137]:
df = pd.read_sql('''
SELECT *
FROM prescriber;
''', engine)

In [138]:
df.to_sql(name = 'prescriber', con = db, index = False)

ValueError: Table 'prescriber' already exists.

In [139]:
query = ''' WITH ratio AS (
SELECT ZIP, CBSA, 
RANK() OVER(PARTITION BY ZIP ORDER BY TOT_RATIO DESC) AS rnk 
FROM cbsa_sql)

SELECT *
FROM prescriber
LEFT JOIN ratio
ON prescriber.nppes_provider_zip5 = ratio.zip
WHERE ratio.rnk = 1 AND ratio.CBSA = '34980';
'''

cbsa_filter = pd.read_sql(query, db)

In [140]:
cbsa_filter

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,ZIP,CBSA,rnk
0,1003000282.000000,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N,37243,34980,1
1,1003013947.000000,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E,37203,34980,1
2,1003077728.000000,KAISER,CLAYTON,A,M.D.,M,I,1215 21ST AVE S,None,NASHVILLE,37232,0014,TN,US,Cardiac Surgery,S,E,37232,34980,1
3,1003019902.000000,ACOSTA,LEALANI,M,MD,F,I,3601 TVC,None,NASHVILLE,37232,0001,TN,US,Neurology,S,E,37232,34980,1
4,1003031261.000000,RUBRIGHT,JAMES,H,M.D.,M,I,345 23RD AVE N,SUITE 212,NASHVILLE,37203,1513,TN,US,Hand Surgery,S,E,37203,34980,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7966,1992952998.000000,ZAFAR,ADNAN,None,M.D.,M,I,1005 DR. D.B. TODD JR. BLVD.,None,"NASHVILLE, TENNESSEE",37208,None,TN,US,Psychiatry & Neurology,T,E,37208,34980,1
7967,1992956114.000000,PERRY,AMANDA,B,PA-C,F,I,1124 NEW HIGHWAY 52 E,None,WESTMORELAND,37186,5060,TN,US,Physician Assistant,S,E,37186,34980,1
7968,1992961841.000000,ANGLUM,ABIGAIL,L,APN,F,I,3801 HILLSBORO RD,None,NASHVILLE,37215,2603,TN,US,Nurse Practitioner,S,E,37215,34980,1
7969,1992978845.000000,CHILDS,ADAM,M,M.D.,M,I,2933 MEDICAL CENTER PKWY,SUITE A,MURFREESBORO,37129,None,TN,US,Family Practice,S,E,37129,34980,1
7970,1992985949.000000,BECK,ROBERT,L,M.D,M,I,2400 PATTERSON ST,SUITE 400,NASHVILLE,37203,1562,TN,US,Internal Medicine,S,E,37203,34980,1

In [142]:
cbsa_filter = cbsa_filter.drop(columns = ['nppes_provider_zip4', 
                                          'nppes_provider_state', 
                                          'nppes_provider_country', 
                                          'ZIP',
                                          'CBSA', 
                                          'rnk'])

In [144]:
cbsa_filter['npi'] = cbsa_filter['npi'].astype(int)