In [1]:
# import libraries
import pandas as pd
import sqlite3

In [3]:
#tables = db.execute("SELECT name FROM sqlite_master WHERE type='table';")
#for table in tables:
#    print(table[0])

In [4]:
#col = db.execute("PRAGMA table_info(nashville_referrals)").fetchall()
#print([e[1] for e in col])

In [5]:
#Load the csv that was outputted from Neo4j

ref_communities = pd.read_csv('../data/nashville_refs_int_communities.csv')

In [6]:
#Just checking

ref_communities

             npi  communityId
0     1003013947         2293
1     1003019902          713
2     1003028770          567
3     1003031261         1186
4     1003037029          567
...          ...          ...
7514  1992972087         2293
7515  1992978845          235
7516  1992985055         5553
7517  1992985949         2293
7518  1992987085          713

[7519 rows x 2 columns]

In [8]:
#Just checking

ref_communities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7519 entries, 0 to 7518
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   npi          7519 non-null   int64
 1   communityId  7519 non-null   int64
dtypes: int64(2)
memory usage: 117.6 KB

In [15]:
#Creates a list of the unique communities

ref_communities.communityId.unique()

array([2293,  713,  567, 1186, 1901, 2186, 1474,  275, 6486, 2289, 1295,
        257,  235, 2307, 7307, 1465, 7093, 7320, 1476, 5412,  169, 7094,
       4252, 6842, 6565, 5640, 6566,  225, 6747, 6875, 6844,  429,  975,
       6596, 5643, 5553, 7407, 7392, 7321, 5645, 7095, 5544, 7311, 7177,
       5615, 5650, 6869, 6598, 5549, 5564, 6489, 6503, 6569, 6932, 6103,
       2767, 5534, 6847, 7097, 3321, 7128, 6035, 1303, 6732, 7178, 5921,
       7324, 6753, 6767, 5062, 5765, 7211, 5882, 1939, 7032, 5873, 5877,
       7100, 7512, 6935, 3952, 7033, 5860, 7034, 6865, 6849, 3543, 6863,
       7179, 5695, 6861, 6867, 7102, 6749, 7112, 6864, 6884, 7035, 6883,
       6887, 7329, 6870, 1444, 7364, 7221, 7350, 7389, 7342, 7384, 7383,
       7335, 7344, 7355, 7354, 7396, 7378, 7356, 7372, 7370, 5791, 7225,
       7081, 7078, 7061, 7134,  101, 7066, 7106, 7107, 7076, 7044, 6421,
       7068, 7108, 7084, 7124, 7041, 3899, 7126, 7117, 6941, 6510, 6968,
       7121, 7122, 6944, 6520, 6945, 6900, 6902, 6946, 5814, 7238, 6971,
       7239, 6659, 4682, 6972, 7139, 6947, 4824, 4836, 7182, 6516, 6415,
       6060, 6948, 7245, 6904, 6239, 6194, 6631, 7009, 7143, 7144, 6905,
       6949, 6144, 6950, 6634, 6951, 6635, 6954, 6975, 7146, 6435, 6065,
       7414, 7184, 6446, 6644, 6571, 5938, 6957, 7258, 6572, 6959, 6977,
       6960, 6961, 4056, 6978, 6069, 5960,   99, 7263, 7264, 7193, 7047,
       7283, 7279, 7301, 7289, 6915, 6984, 7151, 7152, 6985, 6924, 6923,
       7021, 7155, 7188, 7051, 6676, 7164, 7165, 6681, 7166, 6993, 6995,
       7170, 6555, 6559], dtype=int64)

In [16]:
#Number of unique communities

ref_communities.communityId.nunique()

234

In [18]:
db = sqlite3.connect('../data/hop_teaming.sqlite')

In [23]:
#If recreation is needed

#db.execute('DROP TABLE communities')

In [25]:
#Creates the new table 'communities' in our sqlite db 

ref_communities.to_sql('communities', db, index = False)

In [26]:
#Checks that the table has been added

tables = db.execute("SELECT name FROM sqlite_master WHERE type='table';")
for table in tables:
    print(table[0])

cbsa
specialty
referrals
nashville_referrals
nppes
communities

In [27]:
#Checks table columns

col = db.execute("PRAGMA table_info(communities)").fetchall()
print([e[1] for e in col])

['npi', 'communityId']

In [28]:
db.close()