In [3]:
# import libraries
import pandas as pd
import sqlite3

In [4]:
#tables = db.execute("SELECT name FROM sqlite_master WHERE type='table';")
#for table in tables:
#    print(table[0])

In [5]:
#col = db.execute("PRAGMA table_info(nashville_referrals)").fetchall()
#print([e[1] for e in col])

In [8]:
#Load the csv that was outputted from Neo4j and the new referrals data

communities = pd.read_csv('../data/communities_nashville_referrals_normalised_only_hospitals_any_avg_day_wait.csv')
nash_vegas = pd.read_csv('../data/nashville_referrals_normalised_only_hospitals_any_avg_day_wait.csv')

In [10]:
nash_vegas.reset_index(drop = True)
nash_vegas = nash_vegas.drop(['index', 'Unnamed: 0'], axis = 1)

In [11]:
nash_vegas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6436 entries, 0 to 6435
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   from_npi                     6436 non-null   int64
 1   to_npi                       6436 non-null   int64
 2   patient_count                6436 non-null   int64
 3   transaction_count            6436 non-null   int64
 4   average_day_wait             6436 non-null   float64
 5   std_day_wait                 6436 non-null   float64
 6   from_zip                     6436 non-null   int64
 7   from_npi_specialty           6425 non-null   object
 8   from_entity_type_code        6436 non-null   float64
 9   to_zip                       6436 non-null   int64
 10  to_npi_specialty             6436 non-null   object
 11  to_entity_type_code          6436 non-null   float64
 12  to_facility                  6436 non-null   object
 13  to_facility_group            6436 non-null   object
 14  to_facility_name_normalised  6436 non-null   object
dtypes: float64(4), int64(6), object(5)
memory usage: 754.3+ KB

In [12]:
#Just checking

communities.head(10)

          npi  communityId
0  1003013947         4234
1  1003019902         4244
2  1003031261         4234
3  1003050972         4244
4  1003063314         4244
5  1003071333         2542
6  1003075862         2802
7  1003077728         4244
8  1003090424         4234
9  1003098963         4244

In [13]:
#Just checking

communities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4250 entries, 0 to 4249
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   npi          4250 non-null   int64
 1   communityId  4250 non-null   int64
dtypes: int64(2)
memory usage: 66.5 KB

In [14]:
#Creates a list of the unique communities

communities.communityId.unique()

array([4234, 4244, 2542, 2802, 4226, 4245, 4239, 4247, 4238, 4236],
      dtype=int64)

In [15]:
#Number of unique communities

#ref_int_comm_patient.communityId.nunique()

communities.communityId.nunique()

10

In [26]:
db = sqlite3.connect('../data/hop_teaming.sqlite')

In [27]:
#If recreation is needed

#db.execute('DROP TABLE communities')
#db.execute('DROP TABLE communities_pats')
db.execute('DROP TABLE nash_vegas')

In [28]:
#Creates the new table 'communities' in our sqlite db 

#communities.to_sql('communities', db, index = False)
nash_vegas.to_sql('nash_vegas', db, index = False)
#ref_int_comm_transaction.to_sql('communities_trans', db, index = False)
#ref_int_comm_patient.to_sql('communities_pats', db, index = False)

In [29]:
#Checks that the table has been added

tables = db.execute("SELECT name FROM sqlite_master WHERE type='table';")
for table in tables:
    print(table[0])

cbsa
specialty
referrals
nashville_referrals
nppes
communities_pats
communities
nash_vegas

In [23]:
#Checks table columns

col = db.execute("PRAGMA table_info(communities)").fetchall()
print([e[1] for e in col])

['npi', 'communityId']

In [30]:
db.close()