# Build a mapping table for the normalised Nashville Hospital Names and Groups

In [1]:
# import libraries
import pandas as pd
import sqlite3
from tqdm.notebook import tqdm

# Set the display to show more rows and columns
pd.options.display.max_rows = 500
pd.options.display.max_columns = 200

### Change the next cell based on your database name

In [2]:
# Assign sqlite database to db variable
db = sqlite3.connect('../data/hop_teaming.sqlite')

### Import the mapping dataframe into a new table

In [3]:
# Specify the columns to import
cols = ['to_facility', 'to_facility_group', 'to_facility_name_normalised',
       'to_address', 'to_grouping', 'to_classification', 'to_npi',
       'total_patients', 'total_transactions']
# Create a pandas dataframe from the mapping CSV
load_names = pd.read_csv('../data/nashville_hospitals_normalized.csv', usecols = cols)

In [4]:
# Check out the datafare
load_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   to_facility                  25 non-null     object
 1   to_facility_group            25 non-null     object
 2   to_facility_name_normalised  25 non-null     object
 3   to_address                   25 non-null     object
 4   to_grouping                  25 non-null     object
 5   to_classification            25 non-null     object
 6   to_npi                       25 non-null     int64
 7   total_patients               25 non-null     int64
 8   total_transactions           25 non-null     int64
dtypes: int64(3), object(6)
memory usage: 1.9+ KB

In [5]:
# Build the hospital_names table
load_names.to_sql('hospital_names', db, if_exists = 'replace', index = False)

DatabaseError: Execution failed on sql 'DROP TABLE "hospital_names"': database is locked

In [ ]:
# Test
names = """
SELECT *
FROM hospital_names
"""

In [ ]:
hospitals = pd.read_sql(names, db)

In [ ]:
hospitals

In [ ]:
db.close()