In [1]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [2]:
#Must alter your postgres password

#connection_string = "postgres://postgres:Iceland33!@localhost:5432/prescribers"

In [3]:
#engine = create_engine(connection_string)

In [4]:
cbsa = pd.read_csv('../data/ZIP_CBSA_122020.csv')

In [5]:
db = sqlite3.connect('../data/hop_teaming.sqlite')

In [6]:
#Uncomment to run the below line, only needs to be run once

cbsa.to_sql('cbsa_sql', db)

#Or run the below line to drop and recreate each recreate

#db.execute('DROP TABLE cbsa_sql')

#db.execute('DROP TABLE prescriber')

In [7]:
#df = pd.read_sql('''
#SELECT *
#FROM prescriber;
#''', engine)

In [8]:
#Only needs to be run once

#df.to_sql(name = 'prescriber', con = db, index = False)

In [36]:
#CTE ranks zip codes by their total land area within a CBSA
#Query joins the nppes providers based on zip code (left join) only where
#The zip code rank is 1 (greatest area in that zip) and the CBSA for Nash

#query = ''' WITH ratio AS (
#SELECT ZIP, CBSA, 
#RANK() OVER(PARTITION BY ZIP ORDER BY TOT_RATIO DESC) AS rnk 
#FROM cbsa_sql)
#
#SELECT *
#FROM prescriber
#LEFT JOIN ratio
#ON prescriber.nppes_provider_zip5 = ratio.zip
#WHERE ratio.rnk = 1 AND ratio.CBSA = '34980';
#'''

query = ''' WITH ratio AS (
SELECT ZIP, CBSA, 
RANK() OVER(PARTITION BY ZIP ORDER BY TOT_RATIO DESC) AS rnk 
FROM cbsa_sql)

SELECT ZIP, CBSA
FROM ratio
WHERE rnk = 1 AND CBSA = '34980';
'''

cbsa_df = pd.read_sql(query, db)

In [37]:
#query = '''
#SELECT *
#FROM cbsa
#LIMIT 10;
#'''
#test = pd.read_sql(query, db)

In [38]:
#test

     ZIP   CBSA
0  37011  34980
1  37013  34980
2  37014  34980
3  37015  34980
4  37016  34980
5  37022  34980
6  37024  34980
7  37026  34980
8  37027  34980
9  37029  34980

In [23]:
#Dropped columns, more could be added later as we see which are not useful

#cbsa_df = cbsa_df.drop(columns = ['rnk'])

In [33]:
cbsa_df.to_sql('cbsa', db, index = False)

In [17]:
#cbsa_filter['npi'] = cbsa_filter['npi'].astype(int)

In [39]:
db.execute('DROP TABLE cbsa_sql')

In [40]:
db.close()

In [ ]:
#For exporting to csv in case 

#cbsa_df.to_csv(r'data/cbsa_df.csv', index = True)